#horizontal-scroll-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../assets/sponsors/river.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.horizontal-track {
  display: flex;
  width: 200vw;
  height: 100vh;
  will-change: transform;
  position: relative;
}

.panel-river,
.panel-bridge {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.log-stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.log-item {
  position: absolute;
  width: 350px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.log {
  width: 350px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.log-grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  gap: 10px 14px;
  place-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.surfing-frog {
  background-image: url("../assets/sponsors/surfing-frog.svg");
  transform: scaleX(-1);
}

.surfing-crab {
  background-image: url("../assets/sponsors/surfing-crab.svg");
  transform: scaleX(-1);
}

.oucu {
  background-image: url("../assets/sponsors/log_OUCU.svg");
}
.intrepid {
  background-image: url("../assets/sponsors/log_Intrepid.svg");
}
.retail {
  background-image: url("../assets/sponsors/log_365.svg");
}
.stellantis {
  background-image: url("../assets/sponsors/log_stellantis.svg");
}

.bridge-container {
  z-index: 20;
  width: 50%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(-1deg);
  padding: 20px 0;
  box-sizing: border-box;
}

.bridge-container {
  width: 50%;
  height: 110vh; /* taller than screen to allow runoff */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(-1deg);
  padding: 20px 0;
  box-sizing: border-box;
}

.plank-btn {
  background: #8d6e63;
  border: 2px solid #5d4037;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.plank-btn:hover {
  background: #a1887f;
}

.plank-btn::before,
.plank-btn::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3e2723;
  border-radius: 50%;
  display: block;
}

.plank-dummy {
  background: #8d6e63;
  border: 2px solid #5d4037;
  height: 40px;
  opacity: 0.6;
  position: relative;
}
