.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80EF80;
    color: white;
    padding: 10px;
    z-index: 9999;
    border-radius: 50px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none; /* Removes bullet points */
}

.nav-links li a {
    display: block;
    color: #244924;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-links.active {
    display: flex; 
}

.toggle-nav {
    display: none;
}