.surfboard-container {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Colors */
.pink-surfboard {
    text-align: center;
    color: rgba(184, 33, 71, 0.768);
}
.green-surfboard {
    text-align: center;
    color: rgba(35, 75, 29, 0.768);
}
.purple-surfboard {
    background-color: #1e88e5;
}
.teal-surfboard {
    background-color: #8e24aa;
}

.overlay-text {
    position: absolute; /* Position text over the image */
    top: 37%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* center */
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    
    padding: 10px;
    filter: drop-shadow(-5px 7px 4px rgba(0, 0, 0, 0.2));

}